<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Modificar antecedentes</h1>
        <p class="lead">Permite solicitar la actualización de los datos de una organización que cumple con los requisitos que exige la ley y su reglamento, en el registro de cooperativas vigentes, del departamento de cooperativas de la Subsecretaría de Economía y Empresas de Menor Tamaño.</p>
        <p class="lead">Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
        <a id="linkGo" href='@Url.Action("Start")' class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149680284-5"></script>
    <script>
        $('#linkGo').click(function () {
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-149680284-5');
            gtag('event', 'Inicio de la solicitud', {
                'event_category': 'Trámite digital',
                'event_label': 'Trámite - ID 800540020'
            });
        });
    </script>
