<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Envío de informacion semestral</h1>
    </div>
</div>

<div class="container my-3">
    @Html.Partial("_Message")
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149680284-26"></script>
<script>
    $(document).ready(function () {
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-149680284-26');
        gtag('event', 'Fin de la solicitud', {
            'event_category': 'Trámite digital',
            'event_label': 'Trámite - ID 0800540059'
        });
    });
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PM0MLXVBD6"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-PM0MLXVBD6');
    gtag('event', 'Fin de la solicitud', {
        'event_category': 'Trámite digital',
        'event_label': 'Trámite - ID 0800540059'
    });
</script>
