<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">
            Información Semestral
        </h1>
        <p class="lead">
            Este trámite permite remitir la ficha detallada de las fuentes de financiamiento y los estados financieros intermedios, ambos con fechas de corte al 30 de junio, en cumplimiento a lo requerido en el artículo 22° de la RAE 35 de la DAES. Plazo de envío: 30 de septiembre.
        </p>
        <p class="lead">Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
        <a id="linkGo" href='@Url.Action("Start")' class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>

@*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149680284-18"></script>
<script>
    $('#linkGo').click(function () {
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-149680284-18');
        gtag('event', 'Inicio de la solicitud', {
            'event_category': 'Trámite digital',
            'event_label': 'Trámite - ID 0800540034'
        });
    });
</script>*@