<style>
    table {
        width: 60%;
        border-collapse: collapse;
        border: 1px solid #e0e0e0;
    }

    td {
        vertical-align: top;
        border: 1px solid #e0e0e0;
        padding: 8px;
    }

    .card {
        border: 1px solid #e0e0e0;
    }

    .card-img-top {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .texto-azul {
        color: blue;
        font-weight: bold;
    }

    .texto-opaco {
        color: dimgray; 
    }

</style>

<div class="card" style="width: 70rem;">
    <div class="card-body">
        <h5 class="card-title">Confirmación Nueva Tarea</h5>
        <p class="card-text">Estimado(a) [User]<br />La División de Asociatividad y Cooperativas(DAES), le informa que hemos recibido su solicitud correctamente con el siguiente detalle:</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Id Tarea: [Id]</li>
        <li class="list-group-item">Proceso: [Proceso]</li>
        <li class="list-group-item">Fecha Creación: [FechaCreacion]</li>
        <li class="list-group-item">Organización: [Organizacion]</li>
    </ul>
    <div class="card-body">
        <div class="container">
            <table>
                <tr>
                    <td colspan="2">
                        <img src="https://intranet.economia.gob.cl/wp-content/uploads/2018/08/SubseEconomia.png" style="height:25%; width:25%">
                    </td>
                    <td>
                        <strong> Notificación DAES</strong><br />
                        <span class="texto-azul">División de Asociatividad y Cooperativas</span><br />
                        <span class="texto-opaco">Ministerio de Economia, Fomento y Turismo</span><br />
                        <span class="texto-opaco">Alameda 114, Torre2, Piso 12. Santiago. Chile</span><br />
                        <span class="texto-opaco">Tel: (56)224733400</span><br />
                        <a href="www.economia.gob.cl">www.economia.gob.cl</a> - <a href="www.asociatividad.economia.cl">www.asociatividad.economia.cl</a>
                        <br /><span class="texto-opaco">NOTA: No responda este e-mail, ya que es generado automáticamente.</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
