<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Registro de Supervisores Auxiliares</h1>
    </div>
</div>

<div class="container my-3">
    @Html.Partial("_Message")
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149680284-32"></script>
@*Revisar el id del tramite*@
<script>
    $(document).ready(function () {
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-149680284-32');
        gtag('event', 'Fin de la solicitud', {
            'event_category': 'Trámite digital',
            'event_label': 'Trámite - ID 0800540005'
        });
    });
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V00WBXWJ83"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-V00WBXWJ83');
    gtag('event', 'Fin de la solicitud', {
        'event_category': 'Trámite digital',
        'event_label': 'Trámite - ID 0800540005'
    });
</script>