@{
    ViewBag.Title = "Confirmación de recupación de contraseña";
}

<hgroup class="title">
    
</hgroup>
<div>
    <p>
        Se ha enviado un link a su correo electrónico para restablecer su contraseña.
    </p>
</div>
	
