@{
    ViewBag.Title = "Confirmación de cambio de contraseña";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>*@
</hgroup>
<div>
    <p>
        Tu contraseña ha sido restablecida, porfavor ingrese sus credencilaes para ingresar al sistema @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
