<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Cumplimiento del Artículo 90°</h1>
        <p class="lead">Todos los trámites de esta sección requiren <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Articulo90IncisoPrimero")' class="btn btn-outline-primary">
                <p><h4><u>Inciso primero</u></h4></p>
                <p>
                    Envío documentación para el cumplimiento del Artículo 90°, inciso primero 
                </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Articulo90IncisoSegundo")' class="btn btn-outline-primary">
                <p><h4><u>Inciso segundo</u></h4></p>
                <p>
                    Envío documentación para el cumplimiento del Artículo 90°, inciso segundo
                </p>
            </a>
        </div>
    </div>
</div>
<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "CooperativaFinanciera")'>DAES digital</a>
</div>

