<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Cumplimiento del Artículo 90°</h1>
        <p class="lead">
            En esta sección se encuentran los trámites correspondientes a la remisión de los estados financieros auditados y memoria de las Cooperativas de Importancia Económica en cumplimiento del articulo 90° de la RAE 1321 de la DAES.
            Estos tramites requieren de <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a>
        </p>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Articulo90IncisoPrimero")' class="btn btn-outline-primary">
                <p><h4><u>Inciso primero</u></h4></p>
                <p>
                    Este trámite permite remitir los estados financieros auditados de las Cooperativas de Importancia Económica, en cumplimiento al inciso primero del artículo 90° de la RAE 1321 de la DAES.
                    Plazo de envío: a más tardar el 31 de marzo del año siguiente al que se informa.
                    Este trámite requiere clave única
                </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Articulo90IncisoSegundo")' class="btn btn-outline-primary">
                <p><h4><u>Inciso segundo</u></h4></p>
                <p>
                    Este trámite permite remitir la memoria anual de las Cooperativas de Importancia Económica, en cumplimiento al inciso segundo del artículo 90° de la RAE 1321 de la DAES.
                    Plazo de envío: Debe enviarse en conjunto con los documentos de la Junta General de Socios señalada en la letra f) del artículo 6 de la Ley General de Cooperativas.
                    Este trámite requiere clave única.

                </p>
            </a>
        </div>
    </div>
</div>
<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "CooperativaFinanciera")'>DAES digital</a>
</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149680284-23"></script>
<script>
    $(document).ready(function () {
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-149680284-23');
        /*gtag('event', 'Inicio de la solicitud', {
            'event_category': 'Trámite digital',
            'event_label': 'Trámite - ID 0800540061'
        });*/
    });
</script>
