<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">
            Información Anual
        </h1>
        <p class="lead">
            Este trámite permite remitir la ficha detallada de las fuentes de financiamiento y los estados financieros anuales, ambos con fecha de corte al 31 de diciembre, en cumplimiento a lo requerido en el artículo 22° de la RAE 35 de la DAES. Plazo de envío: 30 de abril.
        </p>
        <p class="lead">Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
        <a id="linkGo" href='@Url.Action("Start")' class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>