<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Respuesta de oficio</h1>
        <p class="lead">
            Habilita a los usuarios(as) para remitir información requerida mediante oficios emanados de la DAES.
        </p>
        <p class="lead">Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
        <a id="linkGo" href='@Url.Action("Start")' class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>
