<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">
            Modelo de Supervisión Otras Cooperativas (No CACs)
        </h1>
        <p class="lead">
            Este trámite permite remitir los formularios trimestrales del modelo de supervisión aplicable a las Cooperativas de Importancia Económica, en cumplimiento al artículo 97° de la RAE 1321 de la DAES.
            Plazo de envío: dentro de los primeros 10 días hábiles admnistrativos del mes inmediatamente siguiente al período que se informa.
        </p>
        <p class="lead">Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
        <a id="linkGo" href='@Url.Action("Start")' class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>
