@model IEnumerable<DAES.Model.SistemaIntegrado.Workflow>

@{
    ViewBag.Title = "Tareas y documentos pendientes";
}

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#Tareas" data-toggle="tab">Tareas</a>
    </li>
    <li>
        <a href="#Documentos" data-toggle="tab">Documentos</a>
    </li>
    <li>
        <a href="#Fiscalizaciones" data-toggle="tab">Fiscalizaciones</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="Tareas">
        <br />
        @Html.Action("Index", "Workflow")
    </div>
    <div class="tab-pane fade" id="Documentos">
        <br />
        @Html.Action("Index", "Documento")
    </div>
    <div class="tab-pane fade" id="Fiscalizaciones">
        <br />
        @Html.Action("Inbox", "Fiscalizacion")
    </div>
</div>
<p>
    @Html.ActionLink("Volver al inicio", "Index", "Home")
</p>