<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Modificación Estatuto asociación</h1>
        <p class="lead">
            Este trámite permite registrar la Reforma de Estatutos de una Asociación Gremial - Asociación de Consumidores, que cumpla con los requisitos que exige el Decreto Ley 2757 de 1979 y estatuto social de las entidades.
        </p>
        <p class="lead">Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
        <a id="linkGo" href='@Url.Action("Start")' class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>
