<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Estudio socioeconómico</h1>
        <p class="lead">Todos los trámites de esta sección requiren <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Clave", "EstudioSAhorroCredito")' class="btn btn-outline-primary">
                <p><h4><u>Cooperativas de ahorro y crédito</u></h4></p>
                <p>
                    Envío de documentación para el Estudio Socioeconómico de ahorro y crédito 
                </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("index", "EstudioVivienda")' class="btn btn-outline-primary">
                <p><h4><u>Cooperativas de vivienda abierta</u></h4></p>
                <p>
                    Envío de documentación para el Estudio Socioeconómico de vivienda abierta
                </p>
            </a>
        </div>
    </div>
</div>
<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "CooperativaFinanciera")'>DAES digital</a>
</div>

