<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">
            Estudio Socioeconómico de Cooperativas de Ahorro y Crédito y Abiertas de Vivienda
        </h1>
        <p class="lead">
            En esta sección se encuentran los trámites correspondientes a la remisión de los estudios socioeconómicos para la formación de cooperativas de Ahorro y Crédito y Abiertas de Vivienda en cumplimiento a los artículos 102° de la RAE 1321, 12 de la Ley General de Cooperativas y 7 del Reglamento General de la Ley de Cooperativas. Estos trámites requieren
            <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a>
        </p>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Clave", "EstudioSAhorroCredito")' class="btn btn-outline-primary">
                <p><h4><u>Cooperativas de ahorro y crédito</u></h4></p>
                <p>
                    Envío de documentación para el Estudio Socioeconómico de ahorro y crédito 
                </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Confirm", "CooperativaAbierta")' class="btn btn-outline-primary">
                <p><h4><u>Cooperativas de vivienda abierta</u></h4></p>
                <p>
                    Envío de documentación para el Estudio Socioeconómico de vivienda abierta
                </p>
            </a>
        </div>
    </div>
</div>
<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "CooperativaFinanciera")'>DAES digital</a>
</div>

