<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Verificar documentos</h1>
        <p class="lead">Permite validar documentos emitidos electrónicamente por la DAES</p>
        <a href='@Url.Action("Search")' class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>
<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>