<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Solicitud de certificados</h1>
        <p class="lead">
            Este trámite permite solicitar la emisión de varios tipos de certificados: Certificado Artículo 8vo Transitorio, Certificado Disolución, Certificado Estatutos, Certificado Vigencia y Directorio, Certificado Vigencia.
            La emisión de certificados manuales se encuentra condicionada a la disponibilidad de antecedentes para su otorgamiento.
        </p>
        
        <a href='@Url.Action("Emitir")' class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>