<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">
            Cooperativas Abiertas de Vivienda.
        </h1>
        <p class="lead">
            Este trámite permite remitir el estudio socioeconómico para la formación de una Cooperativa Abierta de Vivienda, en cumplimiento al artículo 12 de la Ley General de Cooperativas.
        </p>
        <p class="lead">Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
        <a class="btn btn-primary btn-rounded" href="@Url.Action("Start")" role="button">Confirmar lectura e iniciar trámite</a>
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ver guía
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="~/Content/NOCAC/Guia-estudio-socio-económico-para-CVA.pdf" target="_blank">Guia de Preparación de Estudio Socio-Económico</a>
            </div>
        </div>

    </div>
</div>
<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149680284-28"></script>
<script type="text/javascript">
    $(document).ready(function () {
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-149680284-28');
        /* gtag('event', 'Inicio de la solicitud', {
             'event_category': 'Trámite digital',
             'event_label': 'Trámite - ID 0800540063'
         });*/
    });
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FBP7RVLMWX"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-FBP7RVLMWX');
</script>

@{
    ViewBag.Title = "Start";
}


