<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Estudio socioeconómico para cooperativas de Vivienda Abierta.</h1>
        <p class="lead">
            Para proceder con este trámite es necesario confirmar la lectura de la Guía Para la Preparación y Evaluación de Proyectos en Constitución
            de Cooperativas de Vivienda Abierta
        </p>
        <p class="lead">Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
        <a class="btn btn-primary btn-rounded" href="@Url.Action("Start")" role="button">Confirmar lectura e iniciar trámite</a>
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ver guía
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="~/Content/NOCAC/Guia-estudio-socio-económico-para-CVA.pdf" target="_blank">Guia de Preparación de Estudio Socio-Económico</a>
            </div>
        </div>

    </div>
</div>
<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>



@{
    ViewBag.Title = "Start";
}


