<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">
            Elección de Directorio AG y AC
        </h1>
        <p class="lead">
            Este trámite permite remitir los antecedentes relacionados con la elección del Directorio realizada en la Asamblea Ordinaria de las Asociaciones Gremiales y Asociaciones de Consumidores, cumpliendo con los requisitos prescritos en el Decreto Ley 2757 de 1979 y estatuto social.
            Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a>
        </p>

        <a id="linkGo" href='@Url.Action("Start")' class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>

