<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Cumplimiento del Artículo 91°</h1>
        <p class="lead">
            Este trámite permite remitir los estados financieros auditados para la publicación de los mismos en la página web de esta División, en cumplimiento al artículo 91° de la RAE 1321 de la DAES.
            Plazo de envío: dentro de los 30 días hábiles administrativos siguientes al de la celebración de la Junta General de Socios en que se tomó conocimiento y aprobó balance.
        </p>
        <p class="lead">Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
        <a id="linkGo" href='@Url.Action("Start")' class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>