@model System.Exception

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 my-3 ">Problema encontrado</h1>
        <p class="lead"></p>
    </div>
</div>

<div class="container">
    <p >@Model.Message</p>
    <a href="javascript:void(0);" onclick="history.go(-1);">Volver a página anterior</a> | <a href='@Url.Action("Index", "Home")'>Ir al inicio</a>
</div>

