<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">
            Disolver AC-AG
        </h1>
        <p class="lead">
            Este trámite permite remitir los documentos de la Asamblea por la cual las asociaciones gremiales y asociaciones de consumidores acuerden su disolución, cumpliendo con los requisitos prescritos en el Decreto Ley 2757 de 1979 y estatuto social.
        </p>
        <p class="lead">Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
        <a id="linkGo" href='@Url.Action("Start")' class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>
<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>
