<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">
            Modificar Número de Socios AG-AC
        </h1>
        <p class="lead">
            Este trámite habilita a los usuarios(as) para informar a la DAES sobre los cambios relativos a la cantidad de socios(as) que componen una Asociación Gremial o Asociación de Consumidores.
            Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a>
        </p>
        <a id="linkGo" href='@Url.Action("Start")' class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "Modificar")'>DAES digital</a>
</div>