<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Constituir organización</h1>
        <p class="lead">
            Este trámite permite inscribir la constitución de una Cooperativa, Asociación Gremial o de Consumidores, que cumpla con los requisitos legales, quedando en el registro de organizaciones vigentes de la DAES.
            Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a>
        </p>
        @*<p class="lead">Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a></p>*@
        <a id="linkGo" href='@Url.Action("Confirm")' class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>
<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>
