<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Junta General de Socios Obligatoria</h1>
    </div>
</div>

<div class="container my-3">
    @Html.Partial("_Message")
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>