<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">
            Dividir Cooperativa
        </h1>
        <p class="lead">
            Este trámite permite remitir los diversos documentos correspondientes a la Junta General de Socios especialmente citada, en la que se acordó la división de una Cooperativa en dos o más que se crean para este efecto, cumpliendo con los requisitos prescritos en la Ley General de Cooperativas, su Reglamento y estatuto social.
        </p>
        <p class="lead">Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
        <a id="linkGo" href='@Url.Action("Start")' class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "Modificar")'>DAES digital</a>
</div>