<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">
            Modificar Estatutos Cooperativa
        </h1>
        <p class="lead">
            Este trámite permite inscribir la Reforma de Estatutos de una Cooperativa, que cumpla con los requisitos que exige la Ley General de Cooperativas y su Reglamento, en el Registro de Cooperativas Vigentes de la DAES.
        </p>
        <p class="lead">Este trámite requiere <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
        <a id="linkGo" href='@Url.Action("Start")' class="btn btn-primary btn-rounded">Iniciar trámite</a>
    </div>
</div>
<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "Modificar")'>DAES digital</a>
</div>
